@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --background-color: #fff;
  --secondary-font: "Open Sans", sans-serif;
}

body {
  background-color: var(--background-color);
  font-family: var(--secondary-font);
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

#game-board {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.card {
  height: 128px;
  width: 90px;
  margin: 2.5px;
  flex: auto;
}
