@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
  font-family: pokefont;
  src: url(../fonts/pokefont.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #fff;
  --secondary-font: "Open Sans", sans-serif;
  --easy-color: #006B3D;
  --medium-color: #E09C3B;
  --hard-color: #D61F1F;
}

body {
  height: 100%;
  background-image: url("../images/pokemon-background.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 112vh;
  background-attachment: fixed;
  background-color: var(--background-color);
  font-family: var(--secondary-font);
  text-align: center;
}

.button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  color: #ffffff;
  font-family: pokefont, sans-serif;
  font-size: 1.5rem;
  padding: 1.5rem 3rem;
  border-radius: 49%;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px 4px #000000;
}

.easyBtn {
  /* background-image: linear-gradient(to bottom, #004c2b, var(--easy-color), var(--easy-color), var(--easy-color), var(--easy-color), var(--easy-color), var(--easy-color), var(--easy-color), #004c2b); */
  background-color: var(--easy-color);
  border-color: #004c2b;
}

.mediumBtn {
  background-color: var(--medium-color);
  border-color: #ae711c;
}

.hardBtn {
  background-color: var(--hard-color);
  border-color: #811212;
}

.instructions {
  background-color: #fefefe;
}


.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

#game-board {
  width: 80%;
  display: grid;
  margin: 1rem auto;
  gap: 10px;
  justify-content: center;
}

.card {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.in-game-button {
  background-color: #f60101;
}

.hidden {
  display: none;
}

.columns-2 {
  grid-template-columns: repeat(2, auto);
}

.columns-4 {
  grid-template-columns: repeat(4, auto);
}

.columns-8 {
  grid-template-columns: repeat(8, auto);
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

