@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background-color: #fff;
    --secondary-font: 'Open Sans', sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: var(--secondary-font);
    text-align: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}