@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --background-color: #fff;
  --secondary-font: "Open Sans", sans-serif;
}

body {
  background-color: var(--background-color);
  font-family: var(--secondary-font);
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

#game-board {
  width : 80%;
  display: grid;
  margin: 1rem auto;
  gap: 10px;
  justify-content: center;
}

.hidden {
  display: none;
}

.columns-2 {
  grid-template-columns: repeat(2, auto);
}

.columns-4 {
  grid-template-columns: repeat(4, auto);
}

.columns-8 {
  grid-template-columns: repeat(8, auto);
}

.card {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}
